.container{
  max-width: auto;
  max-height: auto;
}

.card {
    padding: 1rem 1.2rem;
    background: transparent;
    border-radius: 5px;
    text-align: center;
    margin: 10px 20px;
    padding: auto;
    max-width: auto;
    max-height: 100%;
  }

  .cardtitle{
    color: rgb(255,255,255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 2px;
  }
  
  .cardcontent{
   color: rgb(47, 47, 48);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .icon{
    background-color: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
  }

  .buttoncard{
    background-color: orangered;
    border-radius: 16px;
    border: none;
    color: rgb(255,255,255);
    padding: 5px 30px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
