/*  Desktop  */

.row {
    margin: auto;
}

.imgClient {
    background-image: transparent;
    margin-right: 30px;
    margin-left: 30px;
    max-height: 50px;
    max-width: 150px;
}

.boxClient {
    margin: 5px;
    width: auto;
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .imgClient {
        background-image: transparent;
        margin: 5px;
        max-height: 50px;
        width: 100%;
    }
}




/*  Mobile  */

@media (max-width: 700px) {
    .row {
        margin: auto;
    }

    .boxClient {
        margin: 5px;
        width: 100%;
    }

    .imgClient {
        background-image: transparent;
        margin-left: 10px;
        max-height: 50%;
        max-width: 50%;
    }
}